services:
  nodered:
    container_name: nodered
    build: ./nodered
    ports:
      - "1880:1880"
    volumes:
      - ./nodered/data:/data
    networks:
      iot-network:
        ipv4_address: 172.30.0.99

  mosquitto:
    container_name: mosquitto
    image: eclipse-mosquitto:latest
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log
    restart: always
    networks:
      iot-network:
        ipv4_address: 172.30.0.100

  influxdb:
    container_name: influxdb
    image: influxdb:latest
    ports:
      - "8086:8086"
    volumes:
      - ./influxdb/data:/var/lib/influxdb2
      - ./influxdb/config:/etc/influxdb2
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=admin1234
      - DOCKER_INFLUXDB_INIT_ORG=univaq
      - DOCKER_INFLUXDB_INIT_BUCKET=smarthouse
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=Ga8nVsXP4FAe5_M1a5j7uCa4zO_u_M9oUsO8wUSWh_wPbR3clc9ZTv420Li9adOVCPl1tGvn6hLHfI5gP7Lm5A==
    restart: always
    networks:
      iot-network:
        ipv4_address: 172.30.0.101

  telegraf:
    container_name: telegraf
    image: telegraf:latest
    volumes:
      - ./telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro
    environment:
      - INFLUX_TOKEN=jWKNXJQ8bqV0RgWls9p-kjNwXvl6tmRcLEa4IcVBJVYPKViRFGQAqyc-uT5_A7pmt8PXWpGyHppV6EMOuG1E9g==
    restart: always
    depends_on:
      - influxdb
      - mosquitto
    networks:
      iot-network:
        ipv4_address: 172.30.0.102

  grafana:
    container_name: grafana
    image: grafana/grafana:latest
    restart: always
    depends_on:
      - influxdb
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_INSTALL_PLUGINS=
    links:
      - influxdb
    ports:
      - '3000:3000'
    volumes:
      - ./grafana:/var/lib/grafana
    networks:
      iot-network:
        ipv4_address: 172.30.0.103

networks:
  iot-network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.30.0.0/16
